@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');
@import './variables';
@import './header';
@import './hero';
@import './newArrivel';
@import './bagTypes';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body, html {
    width: 100vw;
    height: 100vh;
    position: relative;
}

ul, li {
    list-style: none;
}